{% extends 'base.html.twig' %}

{% block body %}

<h2>Liste des articles</h2>

<ul>

     {% for article in liste_article %}

        <li>{{ article.titre }}</li>
        <li>{{ article.titre }} - <a href="{{ path ('route_article', {'id': article.id}) }}">lien</a></li>

    {% endfor %}

</ul>
{% endblock %} 
